body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 10px;
}

.btn-primary {
  background-color: #007bff;
}

.btn-ternary {
  background-color: #ffc107;
  color: black;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #1d9226;
  color: white;
  border: 1px solid #6c757d;
}

.btn-secondary:hover {
  background-color: #146922;
  border-color: #545b62;
}

.btn-danger {
  background-color: transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
}

.btn-danger:hover {
  background-color: darkred;
  color: #fff;
}

.quote {
  font-style: italic;
}

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  color: black;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  width: 250px;
}

.favorite-card-content {
  flex: 1;
  padding: 10px;
}

.author {
  font-style: italic;
}

.star-icon {
  font-size: 25px;
  color: yellow;
  cursor: pointer;
}
